table {
    
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  td, th {
    border: 3px solid black;
    text-align: left;
    padding: 5px;
  }
  
  
  .button{
      margin: auto;
      background-color:white;
      color: black;
  }
